{% extends "Email/Layout.html" %}

{% block nav %}
  <img
    class="big"
    src="https://lh5.googleusercontent.com/y-q2PygoowXyh2Ouw3vs_sR34XVyXiVqdmGRR4ztIwwFctEZo4aWDm8eF_LxnvrMtew=w2400"
    style="display: block; height: auto; border: 0; width: 540px; max-width: 100%"
    width="540"
  />
{% endblock %}

{% block body %}
  <table
    border="0"
    cellpadding="0"
    cellspacing="0"
    class="text_block block-2"
    role="presentation"
    style="word-break: break-word"
    width="100%"
  >
    <tr>
      <td
        class="pad"
        style="padding-left: 15px; padding-right: 10px; padding-top: 20px"
      >
        <div style="font-family: sans-serif">
          <div
            class=""
            style="
            font-size: 12px;
            font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif;
            color: #ff003f;
            line-height: 1.5;
          "
          >
            <p style="margin: 0; font-size: 14px; text-align: center">
            <span style="font-size: 50px">
              <strong>
                <span style="font-size: 50px">
                  <span style="font-size: 38px">WELCOME</span>
                </span>
              </strong>
            </span>
            </p>
            <p style="margin: 0; font-size: 14px; text-align: center">
            <span style="color: #2190e3">
              <span style="font-size: 34px">
                <strong>&#64;{{ username }}</strong>
              </span>
            </span>
            </p>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <table
    border="0"
    cellpadding="10"
    cellspacing="0"
    class="text_block block-3"
    role="presentation"
    style="word-break: break-word"
    width="100%"
  >
    <tr>
      <td class="pad">
        <div style="font-family: sans-serif">
          <div
            style="
            font-size: 12px;
            font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif;
            color: #555555;
            line-height: 1.2;
          "
          >
            <p style="margin: 25px 0; font-size: 14px; text-align: center">
            <span style="font-size: 18px; color: #000000">
              <strong>YOUR CODE IS</strong>
              {% for code in otp_list %}
                <span style="display: inline-block; margin: 0 3px; padding: 5px; width: 45px; text-align: center; border: 3px solid #28a9ff; border-radius: 4px;">{{ code }}</span>
              {% endfor %}
            </span>
            </p>

            <p style="margin: 0; font-size: 14px; text-align: center">
            <span style="font-size: 18px; color: #000000">
              Click on the button below to activate your
              account.
            </span>
            </p>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <table
    border="0"
    cellpadding="0"
    cellspacing="0"
    class="button_block block-4"
    role="presentation"
    width="100%"
  >
    <tr>
      <td class="pad" style="padding: 20px 10px 10px; text-align: center">
        <div align="center" class="alignment">
          <a
            href="{{ btn_link }}"
            style="
            text-decoration: none;
            display: inline-block;
            color: #ffffff;
            box-shadow: 1px 1px 6px rgba(54, 54, 54, 0.2470588235);
            background: -webkit-linear-gradient(45deg, #28a9ff, #ff003f, #ffbb00);
            border-radius: 15px;
            width: auto;
            border-top: 0px solid transparent;
            border-right: 0px solid transparent;
            border-bottom: 0px solid transparent;
            border-left: 0px solid transparent;
            padding-top: 10px;
            padding-bottom: 10px;
            font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif;
            font-size: 16px;
            text-align: center;
            word-break: keep-all;
          "
            target="_blank"
          >
          <span
            style="
              padding-left: 40px;
              padding-right: 40px;
              font-size: 16px;
              display: inline-block;
              letter-spacing: normal;
            "
          >
            <span
              dir="ltr"
              style="font-size: 16px; word-break: break-word; line-height: 2"
            ><strong>ACTIVATE ACCOUNT</strong>
            </span>
          </span>
          </a>
        </div>
      </td>
    </tr>
  </table>
{% endblock %}